<form method="post" action="">
    <input type="hidden" value="@ViewBag.Id" name="Id"/>
    <table>
        <tr>
            <td><p>Enter Name:</p></td>
            <td><input type="text" name="Name"/></td>
        </tr>
        <tr>
            <td><p>Enter SupervisorPIB: </p></td>
            <td><input type="text" name="SupervisorPIB"/></td>
        </tr>
        <tr>
            <td><p>Enter DeputySupervisorPIB: </p></td>
            <td><input type="text" name="DeputySupervisorPIB"/></td>
        </tr>
        <tr>
            <td><p>Enter SpecialistPIB: </p></td>
            <td><input type="text" name="SpecialistPIB"/></td>
        </tr>
        <tr>
            <td><p>Enter EmployeePIB: </p></td>
            <td><input type="text" name="EmployeePIB"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add Department"/></td>
        </tr>
    </table>
</form>