<form method="post" action="">
    <input type="hidden" value="@ViewBag.Id" name="Id"/>
    <table>
        <tr>
            <td><p>Enter Name:</p></td>
            <td><input type="text" name="Name"/></td>
        </tr>
        <tr>
            <td><p>Enter DirectorPIB:</p></td>
            <td><input type="text" name="DirectorPIB"/></td>
        </tr>
        <tr>
            <td><p>Enter DeputyDirectorPIB:</p></td>
            <td><input type="text" name="DeputyDirectorPIB"/></td>
        </tr>
        <tr>
            <td><p>Enter DepartmentId:</p></td>
            <td><input type="text" name="DepartmentId"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add Department"/></td>
        </tr>
    </table>
</form>